.subunit.SCT {
  fill: #ddc;
}
.subunit.WLS {
  fill: #cdd;
}
.subunit.NIR {
  fill: #cdc;
}
.subunit.ENG {
  fill: #dcd;
}
.subunit.IRL {
  display: none;
}

.subunit__boundary {
  fill: none;
  stroke: #666;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit__boundary.IRL {
  stroke: #aaa;
}

.subunit__label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}
